*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* commons */

h2 {
    font-family: 'Oswald', sans-serif;
}

li {
 list-style: none;
}

a {
    text-decoration: none;
}

/* header */
header {
    margin-bottom: 20px;
}

.img-logo{
    width: 15%;
}

/* nav {
    height: 70px;
    line-height: 70px;
} */

/* oppure se non voglio dare un'altezza */

nav {
    padding: 20px 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    color: grey;
    text-transform: uppercase;
    font-size: 16px;
}


.jumbotron {
    margin-top: 20px;
    background-image: url(../img/banner.jpg);
    background-size: contain;
    padding: 500px 20px 50px 20px;
}

.jumbo{
    color: white;
    line-height: 1.6;
}

/* main */


.col-sx, 
.col-dx {
    width: 23%;
    float:left;
}

/* colonna sinistra */

.img1{
    width: 100%;
    border-radius: 10px;
}

.container-main {
    width: 50%;
    margin: 0 2%;
    float:left;
}

.section-main{
    margin: 20px 0;
}

.section-main::after {
    content:'';
    display: table;
    clear:both;
}

/* footer */

footer{
    text-align: center;
}

.cuore{
    color: red;
}

/* colori */

.gray{
    color: lightgray;
}
